[Unit]
Description=Node Exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart={{ node_exporter_bin_path }} --web.listen-address={{ node_exporter_web_listen_address }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target